@page
@model EksamenProjekt_1web.Pages.Sager.Detaljer
@{
}

<h1>Sag @Model.Sagen.sagId (@Model.Sagen.Sag?.Navn, @Model.Sagen.Sag?.Nummerplade)</h1> 
<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Fejlbeskrivelse
			</th>
			<th>
				ModelÅr
			</th>
			<th>
				ModelType
			</th>
			<th>
			    NummerPlade
			</th>
			<th>
				Total pris
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Sagen.Sag != null)
		{
			foreach (var sagsElement in Model.Sagen.sagId) // Den Piver her
			{
				<tr>
					<td>
						@sagsElement.FejlBeskrivelse
					</td>
					<td>
						@sagsElement.Modelår
					</td>
					<td>
						@sagsElement.ModelType
					</td>
					<td>
						@sagsElement.Nummerplade
					</td>
				</tr>
			}
		}
		<tr>
			<td class="fw-bold">
				Total
			</td>
			<td>				
			</td>
			<td>
			</td>
			<td>
			</td>
			</td>
		</tr>
	</tbody>
</table>


<td>
	<a class="btn btn-primary btn-sm" type="button" title="Tilføj" asp-page="Tilføj" asp-route-sagId="@Model.Sagen.Id">Tilføj</a>
</td>
<td>
	<a class="btn btn-primary btn-sm" type="button" title="Alle" asp-page="Alle">Oversigt</a>
</td>