@page
@model EksamenProjekt_1web.Pages.Sager.Detaljer
@{
}



<h1>Sag @Model.Sagen.Id (@Model.Sagen.NummerPlade)</h1> 
<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Fejlbeskrivelse
			</th>
			<th>
				ModelÅr
			</th>
			<th>
				ModelType
			</th>
			<th>
			    NummerPlade
			</th>
		</tr>
	</thead>
	<tbody>
				<tr>
					<td>
						@Model.Sagen.FejlBeskrivelse
					</td>
					<td>
						@Model.Sagen.Modelår
					</td>
					<td>
						@Model.Sagen.ModelType
					</td>
					<td>
						@Model.Sagen.NummerPlade
					</td>
				</tr>
		
		<tr>
			<td class="fw-bold">
				
			</td>
			<td>				
			</td>
			<td>
			</td>
			<td>
			</td>
			</td>
		</tr>
	</tbody>
</table>


<td>
	<a class="btn btn-primary btn-sm" type="button" title="Tilføj" asp-page="Tilføj" asp-route-sagId="@Model.Sagen.Id">Tilføj</a>
</td>
<td>
	<a class="btn btn-primary btn-sm" type="button" title="Alle" asp-page="Alle">Oversigt</a>
</td>